body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    height: 100vh;
    width:100vw;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:2px solid black;
    width:20%;
    margin:auto;
    margin-top: 25vh;
    background-color: grey;
    padding:2rem;
}
h3{
    margin-top:1.5rem;
}
