body{
    margin:0;
    padding:0;
    text-decoration: none;
    font-size:1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    height:100vh;
    width:100vw;
    color:white;
    background-color: black;
    /* background-image: url('https://www.bing.com/th?id=OIP.0B8FoaGmIdKyEQwRSy26ngHaEK&w=197&h=120&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2');
    background-repeat:no-repeat;
    background-size:cover;
    border:2px solid black; */
    box-sizing:border-box;
}

p{
    margin:0;
    font-size:2rem;
    text-align: center;
  
   
}

.container-header{
  
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    /* padding:1rem; */
    background-color: transparent;
    /* background-color: black; */
   
}

.list-main{
    display:flex;
    list-style: none;
    justify-content: space-between;
    width:50%;
    margin:0;
    padding-right: 4rem;
    align-items: center;
}

.list-main li a{
    text-decoration: none;
    color:white;
    padding:.3rem;
}

.list-main li a:hover{
    border-bottom: 2px solid white;
}

.list-main li a:hover{
    border-radius: 2px;
    background-color: white;
    color:black;
}
.para{
    padding-left: 4rem;
    
}
.wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border:2px solid white;
    width:30%;
    margin: 0 auto;
    margin-block:10%;
    border-radius:2px;
    background-color: grey;
    gap:2rem;
}
.wrapper input{
    background:grey;
    border:none;
   border-bottom: 3px solid black;
}
.active{
    border:2px solid white;
    border-radius:5px;
  
}